server:
  context-path: /${project.artifactId}
  port: 19009
  compression:
    enabled: true
    mime-types:
    - application/xml
    - application/json
    
spring:
  application:
    name: ${project.artifactId}
  pid:
    file: ${project.artifactId}.pid
  http:
    encoding:
      enabled: true
      charset: UTF-8
      
app:
  version: "@project.version@"
  
logging:
  level:
    ust.laboratory: DEBUG
    root: INFO

  
