server:
  servlet:
    context-path: /${project.artifactId}
  port: ${SERVER_PORT:18080}
  compression:
    enabled: true
    mime-types:
    - application/xml
    - application/json
    
spring:
  application:
    name: ${project.artifactId}
  pid:
    file: ${project.artifactId}.pid
  http:
    encoding:
      enabled: true
      charset: UTF-8
      
app:
  version: "@project.version@"
  influxdb:
    database: My_Database

logging:
  level:
    fernison.springboot2: DEBUG
    root: INFO

  
